#VS Code
.vscode

#Django
api/__pycache__
api/migrations/__pycache__
api/migrations/00*
api/tests/__pycache__
api/management/commands/__pycache__

sbtur/__pycache__
sbtur/settings/__pycache__

db.sqlite3